*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #282D35;
}
nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

.nav-title {
   
    margin-left: auto;
    color: #DEEBF8;
    font-weight: 600;
    
}
nav > img {
    /* margin: auto; */
    height:30px;
}
main {
    padding: 35px 47px;
    color: white;
    background-image: url(./images/React-large-logo.png);
    background-repeat: no-repeat;
    background-position-x:right ;
    background-position-y:75%;
    /* background-size: 200px; */
}
.main-title {

    margin:0;
    /* font-size: 39px; */
    letter-spacing: -0.05em;

}
.main-list{
    margin-top: 46px;
    max-width: 400px;
}
.main-list >li{
    padding-block: 10px;
}
.main-list > li::marker {
   
    font-size: 1.4 rem;
    color: #61DAFB;
}
